body{
    
  
    background-color: rgb(250, 248, 243);
   
}
#first_form
{

   background-color: white;
    border:2px solid black;
    border-radius: 40px;
    margin-top: 10%;
    width: 400px;
    height: 300px;
    box-shadow: 20px 20px 20px #888888;
    
}
input
{
    border-radius: 15px;
    font-size: 25px;
}
button{
    border-radius: 15px;
    font-size: 24px;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:whitesmoke;
    color:black;

}
label{
    font-size: 25px;
}
p{
    font-size: 24px;
}
